<!DOCTYPE html>
{% load static %}

{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'home' as home_url %}
{% url 'photography' as photography_url %}
{% url 'side_projects' as side_projects_url %}
{% url 'writing' as writing_url %}

<div class="container-fluid">
    <div class="row justify-content-center brand-row">
        <a class="navbar-brand" href="{% url 'home' %}">Nikk Ogasa</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <nav class="navbar navbar-expand-md navbar-light justify-content-center" id="navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a {% if request.path == about_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'about' %}">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a {% if request.path == writing_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'writing' %}">WRITING</a>
                    </li>
                    <li class="nav-item">
                        <a {% if request.path == photography_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'photography' %}">PHOTOGRAPHY</a>
                    </li>
                    <li class="nav-item">
                        <a {% if request.path == side_projects_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'side_projects' %}">SIDE PROJECTS</a>
                    </li>
                    <li class="nav-item">
                        <a {% if request.path == contact_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'contact' %}">CONTACT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--Navbar icons-->
    <div class="row justify-content-center">
            <a class="nav-link" href="{% url 'about' %}">
                <img class="nav-icon" src="{% static 'images/hand.gif' %}">
            </a>
            <a class="nav-link" href="{% url 'writing' %}">
                <img class="nav-icon" src="{% static 'images/writing.gif' %}">
            </a>
            <a  class="nav-link" href="{% url 'photography' %}">
                <img class="nav-icon" src="{% static 'images/camera.gif' %}">
            </a>
            <a class="nav-link" href="{% url 'side_projects' %}">
                <img class="nav-icon" src="{% static 'images/lightbulb.gif' %}">
            </a>
            <a class="nav-link" href="{% url 'contact' %}">
                <img class="nav-icon" src="{% static 'images/contact.gif' %}">
            </a>
    </div>
</div>