<!DOCTYPE html>
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'home' as home_url %}
{% url 'photography' as photography_url %}
{% url 'side_projects' as side_projects_url %}

<div class="container-fluid">
    <div class="row justify-content-center brand-row">
        <a class="navbar-brand" href="{% url 'home' %}">nikk ogasa</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <nav class="navbar navbar-expand-md m-0" id="navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a {% if request.path == home_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'home' %}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a {% if request.path == about_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'about' %}">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a {% if request.path == photography_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'photography' %}">PHOTOGRAPHY</a>
                    </li>
                    <li class="nav-item">
                        <a {% if request.path == contact_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'contact' %}">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a {% if request.path == side_projects_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'side_projects' %}">SIDE PROJECTS</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>