<!DOCTYPE html>
{% load static %}

{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'home' as home_url %}
{% url 'photography' as photography_url %}
{% url 'side_projects' as side_projects_url %}
{% url 'writing' as writing_url %}


<nav class="navbar navbar-expand-md navbar-light justify-content-right">
    <a class="navbar-brand navbar-name" href="{% url 'home' %}">
        Nikk Ogasa
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-navbar" aria-controls="collapsible-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsible-navbar">
        <ul class="nav navbar-nav ml-auto">
            <li>
                <a {% if request.path == about_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'about' %}">
                    about
                    <img class="nav-icon" src="{% static 'images/user.png' %}">
                </a>
            </li>
            <li>
                <a {% if request.path == writing_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'writing' %}">
                    writing
                    <img class="nav-icon" src="{% static 'images/pencil.png' %}">
                </a>
            </li>
            <li>
                <a {% if request.path == photography_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'photography' %}">
                    photography
                    <img class="nav-icon" src="{% static 'images/camera.png' %}">
                </a>
            </li>
            <li>
                <a {% if request.path == side_projects_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'side_projects' %}">
                    side projects
                    <img class="nav-icon" src="{% static 'images/project.png' %}">
                </a>
            </li>
            <li>
                <a {% if request.path == contact_url %} class="nav-link nav-link-active" {%else %} class="nav-link nav-link-passive" {%endif%} href="{% url 'contact' %}">
                    contact
                    <img class="nav-icon" src="{% static 'images/message.png' %}">
                </a>
            </li>
        </ul>
    </div>

</nav>


