<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}
{% block title %}Writing {% endblock title %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-11 col-md-8">
            <h1 class="page-heading text-center">Writing</h1>
            <hr>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-11 col-md-8">
            {% for piece in writing_pieces %}
            <a href="{{ piece.link }}">
                <h4 class="subheading">{{ piece.title }}</h4>
            </a>
            <small>{{ piece.byline }}</small>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}