<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}
{% block title %}Writing {% endblock title %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-11 col-md-8">
            <h1 class="page-heading text-center">Writing Portfolio</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-11 col-md-8">

            <h5><strong><i>Journalism</i></strong></h5>
            {% for piece in writing_pieces %}
            <p><a href="{{ piece.pdf_link }}" target="_blank">{{ piece.title }}</a>, <i>{{ piece.publication }}, {% if piece.syndication %}{{ piece.syndication }}, {% endif %}</i>{{ piece.date }} </p>
            {% endfor %}

            <h5><strong><i>Research</i></strong></h5>
            <p>Ogasa, NT 2020, <i><a href="https://www.escholarship.mcgill.ca/concern/theses/x920g208s?locale=en" target="_blank">
                Constraining the fault-valve model at Val-d'Or, Quebec
            </a></i>
            , McGill University, Montreal</p>
        </div>
    </div>
</div>
{% endblock content %}