@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

a.nav-link {
    font-family: Vollkorn, sans-serif;
    color: #3D1F00;
    text-align: right;
    padding-right: 0;
}

a.nav-link-passive {
}

a.nav-link-passive:hover {
    color: #6C5033;
}

a.nav-link-active {
}

a.navbar-brand.navbar-name {
    font-family: Vollkorn, sans-serif;
    font-size: 2rem;
    color: #3D1F00;
    text-align: right;
    margin-left: 1rem;
}

div.story-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1.page-heading {
    margin-top: 2rem;
    font-family: Vollkorn, sans-serif;
    font-weight: bold;
}

h3.poppins {
    font-family: Poppins, Roboto, sans-serif;
}

h4.subheading {
    font-weight: bold;
    color: #1DB145;
}

h5.poppins {
    font-family: Poppins, Roboto, sans-serif;
}

img.banner {
    height: 4rem;
}

img.nav-icon {
    height: 1rem;
}

nav.navbar {
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

span.big {
    font-size: 2rem;
}