@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');

.whiter {
    color: white;
}

a.carousel-control-next {
    width: 30%;
}

a.carousel-control-prev {
    width: 30%;
}

a.nav-link {
    font-family: 'EB Garamond', 'sans-serif';
    color: #3D1F00;
    padding-right: 0;
}

a.nav-link-passive {
}

a.nav-link-passive:hover {
    color: #6C5033;
}

a.nav-link-active {
}

a.navbar-brand.navbar-name {
    font-family: 'EB Garamond', 'sans-serif';
    font-size: 2rem;
    color: #3D1F00;
}

body.main {
    font-family: 'EB Garamond', 'sans-serif';
}

div.carousel-item {
    margin: auto;
    text-align: center;
}

div.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


div.footer {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

div.home-overlay {
    position: relative;
}

div.home-container {
    padding: 4rem;
    padding-bottom: 6rem;
    background: url("/static/images/lake.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.photo-row {
    margin: 0;
    padding: 0;
}

div.story-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div.thumbnail-box {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1.page-heading {
    margin-top: 2rem;
    font-family: 'EB Garamond', 'sans-serif';
    font-weight: bold;
}

h2.page-heading {
    margin-top: 2rem;
    font-family: 'EB Garamond', 'sans-serif';
    font-weight: bold;
}

h3.page-heading {
    margin-top: 2rem;
    font-family: 'EB Garamond', 'sans-serif';
    font-weight: bold;
}

h4.page-heading {
    margin-top: 2rem;
    font-family: 'EB Garamond', 'sans-serif';
    font-weight: bold;
}

h5.page-heading {
    margin-top: 2rem;
    font-family: 'EB Garamond', 'sans-serif';
    font-weight: bold;
}

img.about-photo {
    max-height: 30rem;
}

img.banner {
    height: 4rem;
}

img.home-photo {
    max-width: 100%;
    border-radius: 50%;
}

img.menu-icon {
    height: 2rem;
}

img.nav-icon {
    height: 1rem;
}

img.photo {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

img.social-logo {
    max-width: 2rem;
    border-radius: 15%;
}

img.success {
    max-height: 25rem;
}

nav.navbar {
    margin-top: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

span.big {
    font-size: 2rem;
}