<!DOCTYPE html>
{% extends 'base/base.html' %}
{% block title %}Contact me{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row contact-box d-flex justify-content-center">
        <div class=" col-sm-10 col-md-6 justify-content-center">
            <h1 class="page-heading text-center">
                Contact me
            </h1>
        </div>
        <div class="col-sm-10 col-md-7">
            <p>Go ahead and use the form below, or write me directly at <strong>ntogasa {at} gmail {dot} com</strong>.</p>
            <p>For encrypted communication, email me at <strong>ntogasa {at} protonmail {dot} com</strong>.</p>
            <p>I will get back to you as soon as I can.</p>
        </div>
        <div class="col-sm-10 col-md-7">
        {% include 'contact/contact_form.html' %}
        </div>
    </div>
</div>
{% endblock content %}


</html>