<!DOCTYPE html>
{% extends 'base/base.html' %}
{% block title %}Contact Me{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row contact-box d-flex justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 justify-content-center">
            <h1 class="page-heading text-center">
                Contact Me
            </h1>
            <hr>
            <p class="text-center">
                I'll get back to you ASAP.
            </p>
        </div>
        <div class="col-12 col-sm-10 col-md-8">
        {% include 'contact/contact_form.html' %}
        </div>
    </div>
</div>
{% endblock content %}


</html>