<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}

{% block title %}About me{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row story-row justify-content-center">
        <div class="col-md-4">
            <span class="big">Hi. I'm Nikk.</span><br>
            When I was little<br>
            I went trekking in the mountains.<br>
            Now I'm not so little,<br>
            and I still do that.<br>
            I really like the backcountry.<br>
            So I want to help protect it.<br>
            I think sharing stories about the environment<br>
            with lots of people<br>
            helps affect them<br>
            and make them care.<br>
            Another thing I want to share<br>
            is science.<br>
            It's our greatest tool,<br>
            so it's important people care.<br>
            So now I write about those things.<br>
            The environment. And science.<br><br>

            Thanks for reading.<br>

            .<br>
        </div>
    </div>
</div>
{% endblock content %}
