<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}

{% block title %}About me{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-8 text-center">
            <h1 class="page-heading mb-3">About</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-8 container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6">
                    Nikk Ogasa grew up on the coast of southern California, where he developed a healthy fear of the open
                    water. He spent his school breaks hooking trout and tripping on rocks in the Sierra Nevada, and
                    grew a fierce (and perhaps obsessive) passion for wild landscapes and the natural world. <br><br>

                    Geology has taken him around the globe, from the blistering sands of the Gobi desert
                    to quiet towns in the Pyrenees mountains. He spent two weeks going into an underground gold mine
                    in rural Quebec (in the winter!), hammering rocks for his masters degree at McGill University. <br><br>

                    Now he's writing about science and the environment to share his love for the natural world.
                    You can find him in Santa Cruz, California, where he's chasing a
                    M.S. in Science Communication at UC Santa Cruz.<br><br>

                    When he's not writing about the environment,
                    losing his way in the mountains,
                    fiddling with a Python script,
                    or rolling around on a Brazilian Jiu-Jitsu mat,
                    he's plucking away (poorly) at a banjo.
                    <br><br>
                </div>
                <div class="col-12 col-sm-6 text-center">
                    <img class="img-fluid about-photo" alt="Science writer Nikk Ogasa on a mountain." src="{% static 'images/me_on_cliff.jpg' %}">
                    <br>
                    <small>Overlooking the Marshyangdi River in Nepal.</small>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-11 col-md-8 m-3 justify-content-center text-center">
            View my CV: <a href="https://drive.google.com/file/d/1tAiqLDmDnCLPgEZXF9ApXgDmDkcKUYsC/view?usp=sharing" target="_blank">online version</a>, <a href="https://drive.google.com/file/d/1lUTEdBkbF80s2QaSyQLpUxXCpr_P8KV1/view?usp=sharing" target="_blank">printable version</a>
        </div>
    </div>
</div>
{% endblock content %}
