<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}

{% block title %}About me{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row story-row justify-content-center">
        <div class="col-12 d-none d-md-block">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-9">
            <span class="big">Hi. I'm Nikk.</span><br>
            When I was little<br>
            I went trekking in the mountains.<br>
            Now I'm not so little,<br>
            and I still do that.<br>
            I'm a fan of wild places,<br>
            and so I want to help protect them.<br>
            I think sharing stories about the environment<br>
            with lots of people<br>
            makes them care more.<br>
            I also care about<br>
            science.<br>
            It's our greatest tool,<br>
            so it's important people care.<br>
            So now I write about those things.<br>
            The environment. And science.<br><br>

            Thanks for reading.<br>

            <br>
        </div>
    </div>
</div>
{% endblock content %}
