<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center m-0 p-0">
            <img class="img-fluid home-photo" src="{% static 'images/yosemite.jpg' %}">
            <div class="centered">
                <h1>NIKK OGASA</h1>
                <h5>science and environmental journalist</h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}