<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}
{% url 'contact' as contact_url %}


{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-6 col-xs-4 col-sm-2 text-center mt-2 p-0">
            <img class="img-fluid home-photo" alt="Science writer Nikk Ogasa" src="{% static 'images/portrait1.jpg' %}">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <h2 class="page-heading">Nikk Ogasa</h2>
    </div>
    <div class="row d-flex justify-content-center">
        <p>Science Writer, Environmental Journalist</p>
    </div>
    <div class="row d-flex justify-content-center">
        <p>M.S. Geology | B.S. Earth Science</p>
    </div>
    <div class="row d-flex justify-content-center">
        <p>CV: <a href="https://drive.google.com/file/d/18Akr76CmMmSCKfv8UjEEn2tsdDFuJMED/view?usp=sharing" target="_blank"> Online</a>, <a href="https://drive.google.com/file/d/1YczfWLKw_snwhEBXWodFHb6SrNd0KAtw/view?usp=sharing" target="_blank">Printable</a></p>
    </div>
    <div class="row d-flex justify-content-center">
        <a class="btn btn-primary" href="{% url 'contact' %}" target="_blank">Contact Me</a>
    </div>
    <div class="row d-flex justify-content-center m-4">
        <div class="justify-content-center">
            <a href="https://github.com/ntogasa" target="_blank"><img alt="Nikk Ogasa Github link" src="{% static 'images/GitHub-Mark-32px.png' %}"></a>
            <a href="https://twitter.com/nikkogasa" target="_blank"><img alt="Nikk Ogasa twitter link" src="{% static 'images/twitter-Mark-32px.png' %}"></a>
        </div>
    </div>
</div>
{% endblock content %}