<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-6 col-sm-2 text-center mt-2 p-0">
            <img class="img-fluid home-photo" alt="Science writer Nikk Ogasa" src="{% static 'images/portrait1.jpg' %}">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <h3 class="poppins m-2">Nikk Ogasa</h3>
    </div>
    <div class="row d-flex justify-content-center">
        <p>science writer, environmental journalist</p>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-sm-6">
        </div>
    </div>


</div>
{% endblock content %}