<!DOCTYPE html>
{% extends 'base/base.html' %}
{% block title %}Side Projects{% endblock title %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <h4 class="subheading">rally</h4>
            <p>I'm currently working on a Python web application that streamlines and
                facilitates the planning of backpacking trips. Feel free to check out
                the <a href="https://github.com/ntogasa/rally">github repository</a>.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
</html>