<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}
{% block title %}Photography {% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex"></div>
    <div class="row justify-content-center mx-4">
        {% for photo in photos.all %}
        <div class="col-4 thumbnail-box my-4">
            <img src="{{ photo.image.url }}" alt="{{ photo.alt }}" class="photo-thumbnail">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}